:root { 
--red_800:#d71920; 
--gray_800_01:#664e27; 
--black_900_3f:#0000003f; 
--yellow_400:#ffdd67; 
--black_900_01:#101010; 
--white_A700_59:#ffffff59; 
--black_900_06:#011605; 
--black_900_03:#100e13; 
--black_900_02:#050505; 
--black_900_05:#0b0f0e; 
--black_900_04:#050401; 
--gray_600:#707070; 
--gray_400:#b8b8b8; 
--gray_900_26:#22222226; 
--blue_gray_100:#d3d3d8; 
--orange_A200:#eba352; 
--amber_500:#fdb913; 
--blue_gray_100_33:#d9d9d933; 
--gray_800:#454545; 
--gray_900_66:#22222266; 
--lime_900:#917524; 
--black_900_0c:#0000000c; 
--gray_200:#e7e7e7; 
--orange_400:#ff9d33; 
--gray_100_02:#f7f1f1; 
--gray_400_01:#b3b4b8; 
--gray_400_02:#b6b7bb; 
--lime_900_01:#745303; 
--gray_100_01:#f7f2f1; 
--lime_900_02:#755403; 
--gray_100_00:#f6f0f000; 
--blue_300:#65b1ef; 
--black_900_19:#00000019; 
--white_A700:#fdfdfd; 
--gray_700_01:#5a5252; 
--black_900_59:#00000059; 
--red_700:#dd2626; 
--gray_50_26:#f9f9f926; 
--blue_gray_100_01:#d9d9d9; 
--red_900:#900f11; 
--red_300:#ba6767; 
--gray_50:#fcfcfc; 
--green_A400:#00fa48; 
--black_900_21:#00000021; 
--black_900:#000000; 
--yellow_700:#f9b334; 
--yellow_900:#dd8738; 
--deep_orange_400:#d27d47; 
--gray_900_02:#141414; 
--red_300_02:#c37878; 
--orange_A100:#f2cf7a; 
--gray_700:#56575b; 
--red_300_03:#bb6868; 
--gray_600_01:#7a7a7a; 
--amber_400:#ffce31; 
--gray_900:#111111; 
--red_300_01:#f46767; 
--gray_900_01:#1e1e1e; 
--orange_700:#c48e03; 
--amber_200:#ffdf85; 
--gray_100:#f6f0f0; 
--orange_100:#f2e3bd; 
--yellow_900_02:#e38d28; 
--yellow_900_01:#e48e29; 
--white_A700_01:#ffffff; 
}